//main color palette
$primary: #90caf9;

//monochrome colors
$white: #fafafa;
$white-secondary: #f3f3f3;
$black: #414141;

$black-alpha-light: rgba(0, 0, 0, 0.2);
$black-alpha-dense: rgba(0, 0, 0, 0.8);

//accent color
$red: #d24519;
$green: #19d279;

$white-alpha: rgba(253, 252, 251, 0.8);
$black-alpha: rgba(32, 32, 32, 0.2);
$black-alpha-hard: rgba(32, 32, 32, 0.8);
