$bp: 768px;

$top-navigation-height: 10vh;

$border-radius-large: 48px;
$border-radius-med: 16px;
$border-radius-small: 8px;
$border-radius-circle: 50%;

$padding-xlarge: 100px;
$padding-large: 50px;
$padding-med: 20px;
$padding-small: 10px;

$default-gap: 20px;
$default-br: 2vh;
